<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<p>
  <strong>Bag Contents:</strong>
  <%= @user.bag_contents %>
</p>


<%= link_to 'Log out', logout_path, method: "delete" %> |
<%= link_to 'Play Game', play_path %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
